<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav>
            {{#if isSession}}
            <div>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/api/products">Productos</a></li>
                    <li><a href="/api/carts/670457eadbee7b2e09aacd6f">Carrito</a></li>
                    <li><a href="/api/sessions/profile">Perfil</a></li>

                </ul>
            </div>
            {{else}}
            <div>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/api/products">Productos</a></li>
                    <li><a href="/api/sessions/login">Iniciar Sesión</a></li>
                    <li><a href="/api/sessions/register">Registrese</a></li>
                </ul>
            </div>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Tienda</p>
    </footer>
</body>

</html>